
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common styles */
.hide{
    display: none;
}
.dis-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn-primary{
    background: rgba(255, 144, 14, 1);
    color: white;
    font-size: 1.3rem;
    font-weight: 600px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.primary-bg{
    background: rgba(255, 144, 14, 0.1);
}

/* header style */
.list{
    list-style: none;
}
.links{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18;
    
}
.nav-bar{
    align-items: center;
    justify-content: space-between;
}
.banner, .nav-bar{
    max-width: 1440px;
    margin: 0 auto;
    

}

.banner-item{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    
}
.banner-title{
    max-width: 865px;
    margin: 0 auto;
    font-size: 4rem;
    font-weight: bold;
    
}
.banner-description{
    font-size: 1rem;
    
}
.banner-image{
    width: 100%;
}
.hed{
    padding-bottom: 73px;
}

/* team section */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-container{
    max-width: 573px;
    margin-left: 73px;
}
.feature-title{
    font-size: 3rem;
}
.ft1{
    font-weight: 500;
}
.ft2{
    color: #FF900E;
}
.feature-description{
    font-size: 1rem;

}
.team{
    margin-top: 57px;
    align-items: center;
}

/*  responsive with media query */

@media screen and (max-width: 576px) {

    .nav-bar, .items, .team{
        flex-direction: column;
    }
    .list{
        margin-bottom: 10px;
    }
    .team{
        width: 100%;
    }
    .img-container{
        grid-template-columns: repeat(1 , 1fr);
    }
   .features-container{
    margin-left: 20px;
   }

}
